/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ARTIC_GUPPYPLEX' {
        ext.args = '--skip-quality-check'
        publishDir = [
            path: { "${params.outdir}/guppyplex" },
            enabled: false
        ]
    }
    
    withName: 'FILTLONG' {
        ext.prefix = { "${meta.id}.trim" }
        ext.args = '--min_length 6000'
        publishDir = [
            path: { "${params.outdir}/filtlong" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: '.*:SUB_SAMPLING:MASH_SKETCH' {
        ext.args = '-k 32 -m 3'
        publishDir = [
            path: { "${params.outdir}/mash" },
            mode: params.publish_dir_mode,
            pattern: '*.{mash_stats,msh}'
        ]
    }

    withName: '.*:SUB_SAMPLING:RASUSA' {
        ext.args = '--seed 23032021'
        publishDir = [
            path: { "${params.outdir}/rasusa" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
    }
    
    withName: 'PORECHOP_PORECHOP' {
        publishDir = [
            path: { "${params.outdir}/porechop" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
    }
    
    withName: 'FLYE' {
        publishDir = [
            path: { "${params.outdir}/flye" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }
    
    withName: 'MEDAKA' {
        ext.args = params.medaka_model ? "-m \"$params.medaka_model\"" : ''
        publishDir = [
            path: { "${params.outdir}/medaka" },
            mode: params.publish_dir_mode,
            pattern: '*.fa.gz'
        ]
    }
    
    withName: 'MLST' {
        publishDir = [
            path: { "${params.outdir}/mlst" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'MLST_PARSE' {
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*_summary.tsv'
        ]
    }

    withName: 'BAKTA_BAKTA' {
        ext.args = '--skip-plot'
        publishDir = [
            path: { "${params.outdir}/bakta" },
            mode: params.publish_dir_mode,
            pattern: '*.gff3'
        ]
    }

    withName: 'CHECKM2' {
        publishDir = [
            path: { "${params.outdir}/checkm2" },
            mode: params.publish_dir_mode,
            pattern: '*_quality_report.tsv'
        ]
    }

    withName: 'CHECKM2_PARSE' {
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*_summary.tsv'
        ]
    }

    withName: 'QUAST' {
        publishDir = [
            path: { "${params.outdir}/metadata" },
            mode: params.publish_dir_mode,
            pattern: '*_report.tsv'
        ]
    }

    withName: 'MULTIQC' {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: 'multiqc*'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
